.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: relative;

    & > label {
        color: var(--main-black);
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        pointer-events: none;
    }

    & > input {
        width: 100%;
        border: none !important;
        outline: none !important;
        background: #fff;
        border-radius: 7px;
        padding: 20px 16px;
        border-radius: 7px;
        height: 40px;

        color: var(--main-black);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;

        &::placeholder {
            color: var(--gray-500);
        }
    }

    &[data-error="true"] {
        background: var(--error-100);
        border-color: var(--error-500);

        & > label {
            color: var(--error-500);
        }
    }
}
