:root {
    --main-black: #262626;
    --main-primary: #2f80ed;

    --main-gray-linear: linear-gradient(77deg, #ebf1f8 -1.58%, #dde5ef 101.05%);

    --transition: all 0.3s easy-in-out 0.01s;
    --gray-500: #667085;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none;

    transition: var(--transition);
}

body {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    touch-action: manipulation;
    background: var(--background);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 !important;
    margin: 0 !important;

    & > main {
        min-height: 10px;
    }

    & > footer {
        width: 100%;
        padding: 60px 100px 40px;
        background: var(--main-gray-linear);
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

button {
    cursor: pointer;
}

ul,
form,
aside,
textarea,
section,
article {
    list-style: none;
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;

    &::-webkit-scrollbar {
        display: none !important;
    }
}

input,
textarea,
select {
    background: var(--background-input) !important;
    @media screen and (max-width: 768px) {
        font-size: 14px;
        font-family: inherit;
    }
    &:focus {
        @media (max-width: 768px) {
            font-size: 14px;
        }
    }
}

p,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0px;
    font-style: normal;
    text-decoration: none;
}
