.wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;

    & > header {
        width: 100%;
        padding: 30px 40px;
        background: #fff;
        border-radius: 7px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        & > h1 {
            color: var(--main-black);
            font-size: 36px;
            font-style: normal;
            font-weight: 500;
            line-height: 110%;
            letter-spacing: -0.5px;
            white-space: nowrap;
        }

        & > [data-all-reading="true"] {
            padding: 15px 23px;
            height: 40px;
            width: min-content;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 8px;
            border: none !important;
            border-radius: 7px;
            border: 2px solid var(--main-black) !important;
            background: #fff;

            & > span {
                font-size: 16px;
                font-style: normal;
                font-weight: 600 !important;
                line-height: normal;
                white-space: nowrap;
                color: var(--main-black);
            }
        }
    }

    & > section {
        // position: relative;
        width: 100%;
        padding: 30px 40px;
        background: #fff;
        border-radius: 7px;
        display: grid;
        grid-template-columns: repeat(3, calc(33% - 7px));
        gap: 16px 16px;

        @media screen and (max-width: 1440px) {
            grid-template-columns: repeat(2, calc(50% - 8px));
        }
        @media screen and (max-width: 1120px) {
            grid-template-columns: repeat(1, calc(100%));
        }

        & > h2 {
            color: var(--gray-500);
            text-align: start;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            max-width: 500px;
        }

        & > [data-item-notification="true"] {
            position: relative;
            width: 100%;
            padding: 12px;
            border-radius: 7px;
            background: #fff;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            z-index: 3;

            & > header {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 8px;

                & > h3 {
                    color: var(--main-black);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    letter-spacing: -0.5px;
                }
            }

            & > footer {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                gap: 8px;
                width: 100%;

                & > button {
                    padding: 4px 8px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 4px;
                    border-radius: 7px;
                    border: 2px solid var(--main-black);

                    & > span {
                        font-size: 14px;
                    }

                    & > img {
                        filter: invert(1);
                    }

                    &[data-default] {
                        & > span {
                            color: var(--main-black);
                            font-weight: 500;
                        }
                    }
                    &[data-black] {
                        background: var(--main-black);

                        & > span {
                            color: #fff;
                        }
                    }
                }
            }

            &::before {
                content: "";
                z-index: -1;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: linear-gradient(0deg, #210cae 0%, #4dc9e6 100%);
                transform: translate3d(0px, 0px, 0) scale(1.08);
                filter: blur(40px);
                opacity: 0.32;
                transition: opacity 0.3s;
                border-radius: inherit;
                pointer-events: none;
            }
            &::after {
                content: "";
                z-index: -1;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: inherit;
                border-radius: inherit;
            }
        }
    }
}
