.buttonCreate {
    width: 180px;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border: none !important;
    outline: none !important;
    background: var(--main-black);
    border-radius: 7px;

    &:focus,
    &:hover {
        outline: 1px solid #3b3a3ab9 !important;
    }

    & > span {
        color: #fff;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    & > img {
        &[data-loading="true"] {
            animation: rotate 3s ease-in-out infinite;
        }
        filter: invert(1);
    }
}
