.container {
    max-width: 780px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;

    & > h4 {
        font-size: 14px;
        max-width: 550px;
        color: var(--gray-500);
        font-weight: 400;
        text-align: justify;

        & > span {
            color: var(--error-400);
        }
    }

    & > img {
        width: 270px;
        height: 270px;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 16px;
    }

    & > [data-set] {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;

        & > label {
            color: var(--gray-500) !important;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: -0.4px;
        }

        & > p {
            color: var(--main-black);
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            letter-spacing: -0.4px;
        }
    }

    & > footer {
        width: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        & > button {
            min-width: 180px;
            padding: 6px 24px;
            height: 45px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 4px;
            border: none !important;
            outline: none !important;
            background: var(--main-black);
            border-radius: 7px;

            &:focus,
            &:hover {
                outline: 1px solid #3b3a3ab9 !important;
            }

            & > span {
                color: #fff;
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            & > img {
                &[data-loading="true"] {
                    animation: rotate 3s ease-in-out infinite;
                }
                filter: invert(1);
            }
        }
    }
}
