.wrapper {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 270px));
    grid-gap: 16px;
}
