.container {
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    & > label {
        font-style: normal;
        font-weight: 500;
        color: var(--gray-400);
        font-size: 14px;
    }

    & > [data-select="true"] {
        width: 100%;
        margin-top: 10px;
        height: 30px;
        padding-left: 6px !important;
        background: transparent !important;
        border: none !important;
        outline: none !important;

        color: var(--main-black);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
    }
}
