.container {
    width: 100%;
    position: relative;
    background-color: #fff;
    padding: 0 0 10px !important;
    border: 2px solid transparent;
    border-radius: 7px;

    & > label {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
        color: var(--main-black);
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        pointer-events: none;
        transition: all 0.3s ease-in-out 0.01s;
        color: var(--gray-400);
        top: 12px;
        font-size: 14px;
    }

    & > [data-select="true"] {
        width: 100%;
        margin-top: 10px;
        height: 30px;
        padding-left: 6px !important;
        background: transparent !important;
        border: none !important;
        outline: none !important;

        color: var(--main-black);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
    }
}
