//containerItemUserMessage

@mixin container {
    position: relative;
    width: 100%;
    display: inline-flex;
    gap: 12px;
    z-index: 2;
}

@mixin notAvatar {
    width: 32px;
    height: 32px;
    padding: 16px;
    border-radius: 16px;
}

.containerItemUserMessage {
    @include container();
    justify-content: flex-start;
    & > img {
        position: sticky;
        top: calc(3px);
        width: 32px;
        height: 32px;
        border-radius: 16px;
        object-fit: cover;
    }
    & > [data-not-avatar="true"] {
        @include notAvatar();
        background: var(--main-black);
    }

    .messages {
        align-items: flex-start;
        .blockMessage {
            background: var(--background-input);
            border-radius: 12px 12px 12px 2px;

            &.only {
                border-radius: 12px 12px 12px 12px;
            }
            &.end {
                border-radius: 2px 12px 12px 12px;
            }
            &.middle {
                border-radius: 2px 12px 12px 2px;
            }
            &.start {
                border-radius: 12px 12px 12px 2px;
            }

            p {
                color: var(--gray-900);
            }
        }
    }

    &.mobile {
        .blockMessage {
            min-width: 1px;
        }
    }
}

//containerItemMyMessage

.containerItemMyMessage {
    @include container();
    justify-content: flex-end;
    & > img {
        position: sticky;
        top: calc(3px);
        width: 32px;
        height: 32px;
        border-radius: 16px;
        object-fit: cover;
    }

    & > [data-not-avatar="true"] {
        @include notAvatar();
        background: var(--success-300);
    }

    .messages {
        align-items: flex-end;
        .blockMessage {
            background: var(--main-black);
            border-radius: 12px 12px 2px 12px;

            &[data-images-block] {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 8px;
                padding: 7px;

                & > img,
                & > video {
                    height: auto;
                    width: calc(20% - 6.4px);
                    aspect-ratio: 3/2;
                    object-fit: cover;
                    border-radius: 3px;
                }
            }

            &.only {
                border-radius: 12px 12px 12px 12px;
            }
            &.end {
                border-radius: 12px 2px 12px 12px;
            }
            &.middle {
                border-radius: 12px 2px 2px 12px;
            }
            &.start {
                border-radius: 12px 12px 2px 12px;
            }

            p {
                color: var(--supporting-white);
            }

            .time {
                color: var(--gray-400);
            }
        }
    }

    &.mobile {
        .blockMessage {
            max-width: 100%;
            min-width: 1px;
        }
    }
}

.messages {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3px;
}

.blockMessage {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 10px 16px;
    max-width: 63%;
    min-height: 60px;

    p {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: -0.5px;
    }

    & > img {
        height: auto;
        width: 250px;
        aspect-ratio: 3/2;
        object-fit: cover;
        border-radius: 7px;
    }
    & > video {
        height: auto;
        width: 250px;
        aspect-ratio: 3/2;
        object-fit: cover;
        border-radius: 7px;
    }
    &[data-image="true"] {
        padding: 7px;
    }
}

.time {
    color: var(--gray-400);
    bottom: 10px;
    right: 12px;
    text-align: right;
    font-size: 10px !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 14px !important;
    letter-spacing: -0.5px;
    padding: 0 !important;
}
