.wrapper {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 5px;
    align-items: center;
    z-index: 200;

    .container {
        padding: 4px 10px;
        border-radius: 100px;
        background: var(--gray-300);

        span {
            color: var(--gray-500);
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            // line-height: 20px;
            letter-spacing: -0.5px;
        }
    }
}
