.wrapper {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    & > ul {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(170px, 300px));
        grid-gap: 16px;

        & > li,
        & > a {
            position: relative;
            width: 100%;
            aspect-ratio: 1/1;
            border-radius: 7px;
            overflow: hidden;
            cursor: pointer;
            border: 1px solid var(--gray-200);

            & > img {
                transition: scale var(--transition);
                object-fit: cover;
            }

            & > [data-info] {
                position: absolute;
                inset: 0;
                z-index: 2;
                background: rgba(#000000, 0.3);
                padding: 16px;

                transition: background var(--transition);

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                & > header {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    & > h3 {
                        color: var(--gray-50);
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        letter-spacing: -0.5px;
                    }

                    & > h4 {
                        color: var(--gray-100);
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        letter-spacing: -0.1px;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                    }
                }

                & > footer {
                    opacity: 0;
                    visibility: hidden;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 6px;

                    transition: opacity var(--transition);

                    & > button {
                        width: 100%;
                        padding: 6px 12px;
                        border-radius: 8px;

                        &[data-read] {
                            background: var(--main-black);
                            & > span {
                                color: #fff;
                            }
                        }

                        &[data-change] {
                            background: var(--gray-50);
                            & > span {
                                color: var(--main-black);
                            }
                        }

                        & > span {
                            font-weight: 600;
                        }
                    }
                }
            }

            & > [data-verification] {
                position: absolute;
                bottom: 12px;
                right: 12px;
                opacity: 1;
                transition: opacity var(--transition);

                & > img {
                    width: 35px;
                    height: 35px;
                }
            }

            &:hover {
                & > [data-info] {
                    background: rgba(#000000, 0.4);
                }

                & > img {
                    scale: 1.1;
                }

                & > [data-info] > footer {
                    opacity: 1 !important;
                    visibility: visible;
                }

                & > [data-verification] {
                    opacity: 0;
                }
            }
        }
    }
}
