.wrapper {
    width: 100%;
    height: min-content;

    & > section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;

        & > h1 {
            color: var(--main-black);
            font-size: 34px;
            font-style: normal;
            font-weight: 600;
        }

        & > form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 24px;

            & > section {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 8px;

                & > [data-photos="true"] {
                    display: flex;
                    flex-direction: row;
                    gap: 8px 8px;
                    flex-wrap: wrap;

                    & > [data-input-file="true"] {
                        position: relative;
                        width: 150px;
                        height: 150px;
                        border-radius: 7px;
                        overflow: hidden;
                        background: #fff;
                        border: 2px dashed var(--gray-500);

                        & > input {
                            opacity: 0;
                            position: absolute;
                            inset: 0;
                            cursor: pointer;
                        }

                        & > img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            pointer-events: none;
                        }
                    }

                    & > img {
                        height: 150px;
                        width: auto;
                        aspect-ratio: 1/1;
                        border-radius: 7px;
                        object-fit: cover;
                        border: 2px dashed var(--gray-500);
                        background: transparent;
                    }
                }
            }

            & > article {
                width: 100%;
                display: flex;
                flex-direction: row;
                gap: 24px;

                & > [data-div-main] {
                    & > i {
                        color: #d92d20;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 500;
                    }
                }

                & > [data-div-main],
                & > [data-div-secondary] {
                    h3 {
                        color: var(--main-black);
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                    }
                }

                & > div {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 16px;

                    & > span {
                        position: relative;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 2px;
                        border-radius: 7px;

                        & > label {
                            color: var(--gray-500) !important;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 16px;
                            letter-spacing: -0.4px;
                        }

                        &[data-delivery] {
                            flex-direction: row !important;
                            gap: 16px;
                            flex-wrap: wrap;
                        }

                        & > [data-select="true"] {
                            width: 100%;
                        }

                        & > i {
                            color: #d92d20;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 500;
                        }
                    }
                }
            }

            & > footer {
                width: 100%;
                display: flex;
                flex-direction: row;
                gap: 16px 16px;
                flex-wrap: wrap;

                & > button {
                    max-width: 200px;
                    width: 100%;
                    height: 45px;
                    padding: 18px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                    border-radius: 7px;

                    & > span {
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }

                    &[data-primary="true"] {
                        background: var(--main-black);

                        & > span {
                            color: #fff;
                        }
                    }
                    &[data-default="true"] {
                        background: transparent;

                        & > span {
                            color: var(--main-black);
                        }
                    }
                }
            }
        }
    }
}

.react-select {
    width: 100%;
    height: 100%;
}
