.container {
    width: 100%;

    & > a {
        text-decoration: underline !important;
        font-weight: 500;
        cursor: pointer;
    }

    & > section {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;

        & > [data-set] {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        height: 100%;
        transition: var(--transition);
        transition-property: max-height, opacity, visibility;

        &[data-is-open="false"] {
            opacity: 0;
            visibility: hidden;
            max-height: 0px;
        }
        &[data-is-open="true"] {
            opacity: 1;
            visibility: visible;
            max-height: fit-content;
        }
    }
}
