.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & > header {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    & > ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}
