.header {
    width: 100%;
    background: var(--main-black) !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    height: 78px;
    padding: 0px 80px;

    & > [data-logo] {
        cursor: pointer;

        & > img {
            width: 54px;
            height: 25px;
            filter: invert(1);
        }
    }

    & > nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;

        & > li {
            position: relative;
            height: 100%;
            padding-left: 15px;
            padding-right: 15px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 4px;
            overflow: hidden;
            cursor: pointer;

            & > a {
                text-align: center;
                position: relative;
                color: #fff !important;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                cursor: pointer;
                align-items: center;
                white-space: nowrap;
            }

            & > img {
                filter: invert(1);
            }

            &[data-lang="true"] {
                & > a {
                    width: 30px;
                    text-align: center;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        left: 0;
                        right: 0;
                        bottom: 4px;
                        height: 1.5px;
                        background: var(--main-black);
                    }
                }
            }

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background: var(--main-black);
                box-shadow: 0px 2px 8px 0px var(--main-black);
                transform: scaleX(0);
                transition: transform 0.3s ease-in-out;
            }

            &[data-active="true"] {
                & > a {
                    color: #fff;
                }
                &::after {
                    content: "";
                    z-index: 0;
                    position: absolute;
                    inset: 0;
                    background: #fff;
                    transform: translate3d(0px, 63px, 0) scale(1);
                    filter: blur(51px);
                    opacity: 0.2;
                    transition: opacity 0.15s;
                    border-radius: inherit;
                }
                &::before {
                    transform: scaleX(1);
                }
            }
        }

        & > [data-chat-notification="true"] {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            width: min-content;

            & > img {
                cursor: pointer;
                filter: invert(1);
            }

            & > [data-notification="true"] {
                position: relative;
                height: 24px;
                width: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                & > img {
                    filter: invert(1);
                }

                & > [data-count="true"] {
                    position: absolute;
                    top: -4px;
                    right: -4px;
                    background: var(--warning-600);
                    height: 12px;
                    width: 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 6px;
                    z-index: 2;

                    &[data-chat="true"] {
                        background: var(--success-600);
                        outline: 0px solid var(--success-500);
                        animation: pulsar 2s ease-in-out infinite;
                    }

                    & > span {
                        font-weight: 600;
                        color: #fff;
                        font-size: 8px;
                        margin: 0 !important;
                        padding: 0 !important;
                    }
                }
            }
        }

        & > [data-login="true"] {
            margin-left: 15px;
            width: 180px;
            height: 45px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border: 2px solid var(--main-black);
            outline: none !important;
            background: #fff;
            border-radius: 7px;

            &:focus,
            &:hover {
                outline: 1px solid #3b3a3ab9 !important;
            }

            & > span {
                color: var(--main-black);
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }

        & > [data-profile-link="true"] {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            cursor: pointer;

            & > img {
                height: 45px;
                width: 45px;
                border-radius: 22.5px;
                object-fit: cover;
            }

            & > p {
                color: var(--main-black);
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 191.023%;
                white-space: nowrap;
            }
        }
    }
}

@keyframes pulsar {
    0% {
        outline: 0px solid var(--success-500);
    }
    50% {
        outline: 2px solid var(--success-100);
    }
    100% {
        outline: 0px solid var(--success-500);
    }
}
