.container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    transition: all 0.3s ease-in-out;

    p {
        color: var(--gray-500);
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: -0.5px;
    }

    & > button {
        background: transparent;
    }

    &:hover {
        & > label {
            opacity: 1;
            visibility: visible;
            width: 70px;
        }
    }
}
