.container {
    background: #fff;
    cursor: pointer;
    height: 48px;
    width: 100%;
    max-width: 780px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    border-radius: 7px;

    & > section {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: min-content;
        gap: 16px;

        & > img {
            height: 24px;
            width: 24px;
        }

        & > p {
            color: var(--main-black);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 15px;
            white-space: nowrap;
        }
    }
}
