.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;

    & > aside {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 70px;

        & > [data-links="true"] {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 16px;

            & > li {
                position: relative;
                padding-bottom: 10px;

                & > [data-absolute] {
                    position: absolute;
                    inset: 0;
                    z-index: 0;
                    border-radius: 9px 9px 8px 8px;
                    background: var(--gray-200);
                    transition: var(--transition);
                }

                &[data-active="true"] {
                    & > [data-absolute] {
                        background: var(--main-black);
                    }
                }

                &[data-picture] {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 8px;

                    & > img {
                        aspect-ratio: 3/2;
                        object-fit: cover;
                        height: 100px;
                        width: 100%;
                        border-radius: 8px 8px 0 0;
                        z-index: 1;
                    }
                }

                & > [data-label-count] {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 4px;
                    z-index: 2;

                    & > p {
                        color: var(--main-black);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        transition: var(--transition);
                    }
                }

                & > [data-count] {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    height: 24px;
                    min-width: 24px;
                    padding: 1px 4px;
                    border-radius: 50px;
                    background-color: var(--main-black);
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    z-index: 3;

                    & > span {
                        color: #fff;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 600;
                        text-transform: capitalize;
                    }
                }

                &:not(&[data-active="true"]) {
                    cursor: pointer;
                }

                &[data-active="true"] {
                    & > div > p {
                        color: #fff;
                    }
                }
            }
        }
    }
}
