.wrapper {
    position: fixed;
    top: -15px;
    left: 0;
    right: 0;
    height: 15px;
    z-index: 1000;
    margin: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: all 0.05s ease-in-out 0.01s;

    &.active {
        top: 0px;
        opacity: 1;
        visibility: visible;
    }
}

.container {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to right,
        red,
        orange,
        yellow,
        green,
        blue,
        indigo,
        violet
    );
    background-size: 300% 100%;
    animation: rainbow 5s linear infinite;
}

@keyframes rainbow {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}
