.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    & > [data-main-filter="true"] {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 25px;
        cursor: pointer;
    }

    & > article {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}
