.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & > article {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}
