.nav {
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 8px;

    a {
        white-space: nowrap;
        font-size: 14px;
        font-weight: 400;
        color: var(--gray-600);

        transition: var(--transition);
        transition-property: color;

        &:hover {
            color: var(--error-600);
        }
    }
}
