.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;

    & > nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: stretch;

        & > a {
            padding: 12px !important;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 12px;
            border: 1px solid var(--gray-200);
            border-bottom: 2px solid var(--gray-200);
            background: transparent;

            -webkit-box-shadow: 0 -20px 10px -20px rgba(0, 0, 0, 0) inset;
            -moz-box-shadow: 0 -20px 10px -20px rgba(0, 0, 0, 0) inset;
            box-shadow: 0 -20px 10px -20px rgba(0, 0, 0, 0) inset;

            transition: var(--transition);
            transition-property: border-bottom, -webkit-box-shadow, -moz-box-shadow, box-shadow, background, filter;

            & > span {
                font-size: 12px;
                font-weight: 400;
                line-height: 1;
                text-align: center;
                color: var(--gray-500);
            }

            &[data-active="true"] {
                border-bottom: 2px solid var(--main-black);
                background: var(--gray-100);
                -webkit-box-shadow: 0 -20px 10px -20px rgba(0, 0, 0, 0.45) inset;
                -moz-box-shadow: 0 -20px 10px -20px rgba(0, 0, 0, 0.45) inset;
                box-shadow: 0 -20px 10px -20px rgba(0, 0, 0, 0.45) inset;
            }

            &[data-active="false"] {
                filter: grayscale(0.2);
            }

            &:hover {
                background: var(--gray-100);
            }
        }
    }

    & > section {
        width: 100%;

        &[data-is-category="true"] {
            display: grid;
            grid-template-columns: 1fr 3fr;

            & > aside {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 8px;
                transition: var(--transition);

                & > a {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 12px;
                    color: var(--gray-500);

                    &[data-active="true"] {
                        color: var(--main-black);
                    }
                }
            }

            & > article {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(180px, 270px));
                grid-gap: 16px;
            }

            & > [data-products] {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 24px;

                & > h3 {
                    color: var(--main-black);
                }

                & > section {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(180px, 270px));
                    grid-gap: 16px;
                }
            }
        }

        &[data-is-category="false"] {
            display: grid;
            grid-template-columns: repeat(4, 25%);
        }

        & > a {
            padding: 20px !important;
            border: 1px solid var(--gray-100);
            position: relative;
            width: 100%;
            aspect-ratio: 2/1;
            cursor: pointer;
            background-color: var(--success-50);

            & > h2 {
                color: var(--main-black);
                font-weight: 600;
                font-size: 25px;
                line-height: 27px;
                -webkit-line-clamp: 2;
            }
        }
    }

    [data-is-category="true"] {
        [data-products] > section,
        & > article {
            & > a {
                position: relative;
                min-width: 180px;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 4px;
                border-radius: 7px;
                cursor: pointer;
                overflow: hidden;
                height: 100%;
                background-color: var(--gray-100);

                & > [data-is-verification] {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 25%;
                    height: auto;
                    aspect-ratio: 1/1;
                    clip-path: polygon(0 40%, 40% 0, 100% 0, 0% 100%);
                    pointer-events: none;
                    background-color: var(--success-600);

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    & > p {
                        font-size: 12px;
                        font-weight: 600;
                        color: #fff;
                        transform: rotate(-45deg) translateY(-10px) translateX(-0px);
                    }
                }

                & > [data-title] {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    gap: 12px;
                    padding-right: 6px;

                    & > h3 {
                        color: var(--main-black);
                        font-size: 18px;
                        font-weight: 600;
                    }

                    & > [data-add] {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 6px;

                        & > [data-favorite] {
                            &[data-loading="true"] {
                                -webkit-animation: 0.1s tremor ease-out infinite;
                                animation: 0.1s tremor ease-out infinite;
                            }
                        }
                    }
                }

                & > img,
                & > [data-img] {
                    border-radius: 7px;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    aspect-ratio: 1/1;
                }

                & > [data-img] {
                    border: 1px solid var(--gray-300);
                    background: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                h5 {
                    color: var(--main-black);
                    font-size: 14px;
                    font-weight: 600;
                }

                & > [data-city] {
                    font-size: 14px;
                    color: var(--gray-500);
                    font-weight: 400;
                }
                & > [data-time] {
                    display: flex;
                    flex-direction: row;
                    gap: 4px;

                    & > a {
                        font-size: 12px;
                        color: var(--gray-500);
                        font-weight: 500;
                        padding: 0 !important;
                        margin: 0 !important;
                    }
                }
            }
        }
    }
}
