.wrapper {
    width: 100%;
    display: grid;
    gap: 16px;
    grid-template-columns: 240px 1fr;

    & > [data-menu] {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;

        & > a {
            &[data-active="true"] {
                & > [data-title] {
                    & > img {
                        filter: grayscale(0);
                    }
                    & > a {
                        color: var(--main-primary) !important;
                    }
                }
            }
        }
    }

    & > [data-list] {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 250px));
        grid-gap: 16px;
        height: fit-content;

        & > li {
            position: relative;
            min-width: 180px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            border-radius: 7px;
            cursor: pointer;
            overflow: hidden;
            height: 100%;
            background-color: var(--gray-100);

            & > [data-is-verification] {
                position: absolute;
                top: 0;
                left: 0;
                width: 25%;
                height: auto;
                aspect-ratio: 1/1;
                clip-path: polygon(0 40%, 40% 0, 100% 0, 0% 100%);
                pointer-events: none;
                background-color: var(--success-600);

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                & > p {
                    font-size: 12px;
                    font-weight: 600;
                    color: #fff;
                    transform: rotate(-45deg) translateY(-10px) translateX(-0px);
                }
            }

            & > [data-title] {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 12px;
                padding-right: 6px;

                & > h3 {
                    color: var(--main-black);
                    font-size: 18px;
                    font-weight: 600;
                }

                & > [data-add] {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 6px;

                    & > [data-favorite] {
                        &[data-loading="true"] {
                            -webkit-animation: 0.1s tremor ease-out infinite;
                            animation: 0.1s tremor ease-out infinite;
                        }
                    }
                }
            }

            & > img,
            & > [data-img] {
                border-radius: 7px;
                width: 100%;
                height: auto;
                object-fit: cover;
                aspect-ratio: 1/1;
            }

            & > [data-img] {
                border: 1px solid var(--gray-300);
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            h5 {
                color: var(--main-black);
                font-size: 14px;
                font-weight: 600;
            }

            & > [data-city] {
                font-size: 14px;
                color: var(--gray-500);
                font-weight: 400;
            }
            & > [data-time] {
                display: flex;
                flex-direction: row;
                gap: 4px;

                & > a {
                    font-size: 12px;
                    color: var(--gray-500);
                    font-weight: 500;
                    padding: 0 !important;
                    margin: 0 !important;
                }
            }
        }
    }
}

.containerLi {
    padding-left: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;

    & > [data-title] {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
        cursor: pointer;

        & > img {
            height: 18px;
            width: 18px;
            aspect-ratio: 1/1;
            object-fit: cover;
            filter: grayscale(100%);
        }

        & > a {
            color: var(--gray-500) !important;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            letter-spacing: -0.3px;
        }
    }
}

@-webkit-keyframes tremor {
    0%,
    25% {
        -webkit-transform: translateX(-4%);
        transform: translateX(-4%);
    }
    50%,
    100% {
        -webkit-transform: translateX(4%);
        transform: translateX(4%);
    }
}
@-moz-keyframes tremor {
    0%,
    25% {
        -webkit-transform: translateX(-4%);
        transform: translateX(-4%);
    }
    50%,
    100% {
        -webkit-transform: translateX(4%);
        transform: translateX(4%);
    }
}
@-ms-keyframes tremor {
    0%,
    25% {
        -webkit-transform: translateX(-4%);
        transform: translateX(-4%);
    }
    50%,
    100% {
        -webkit-transform: translateX(4%);
        transform: translateX(4%);
    }
}
@-o-keyframes tremor {
    0%,
    25% {
        -webkit-transform: translateX(-4%);
        transform: translateX(-4%);
    }
    50%,
    100% {
        -webkit-transform: translateX(4%);
        transform: translateX(4%);
    }
}
@keyframes tremor {
    0%,
    25% {
        -webkit-transform: translateX(-4%);
        transform: translateX(-4%);
    }
    50%,
    100% {
        -webkit-transform: translateX(4%);
        transform: translateX(4%);
    }
}
