.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;

    & > section {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 16px 16px;

        & > aside {
            width: 100%;
            display: flex;
            flex-direction: column;
            transition: var(--transition);

            & > a {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 12px;
                font-weight: 500;
                color: var(--gray-500);
                padding: 3px !important;
                background: transparent;
                overflow: hidden;

                transition: var(--transition);
                transition-property: background, color;

                & > img {
                    object-fit: cover;
                }

                & > [data-right] {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -15px;

                    transition: var(--transition);
                    transition-property: right;
                }

                &[data-active="true"] {
                    color: var(--main-black);
                    background: var(--gray-100);

                    & > [data-right] {
                        right: 5px;
                    }
                }

                &:hover {
                    color: var(--main-black);
                    background: var(--gray-100);

                    & > [data-right] {
                        right: 5px;
                    }

                    &[data-active="false"] {
                        color: var(--error-600);
                    }
                }
            }
        }

        & > article {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, calc(50% - 12px));
            grid-gap: 24px;
            height: fit-content;

            & > [data-second] {
                width: 100%;
                display: grid;
                grid-template-columns: 50px calc(100% - 50px - 8px);
                gap: 8px;

                & > section {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    & > [data-title] {
                        font-size: 18px;
                        font-weight: bold;
                        margin-bottom: 8px !important;
                    }

                    & > a {
                        color: var(--gray-700);

                        transition: var(--transition);
                        transition-property: color;

                        &:hover {
                            color: var(--error-600);
                        }
                    }
                }
            }
        }

        & > a {
            padding: 20px !important;
            border: 1px solid var(--gray-100);
            position: relative;
            width: 100%;
            aspect-ratio: 2/1;
            cursor: pointer;
            background-color: var(--success-50);

            & > h2 {
                color: var(--main-black);
                font-weight: 600;
                font-size: 25px;
                line-height: 27px;
                -webkit-line-clamp: 2;
            }
        }
    }

    [data-products] {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px 24px;

        & > h3 {
            width: 100%;
            color: var(--main-black);
            white-space: nowrap;
        }

        & > [data-flow] {
            display: grid;
            grid-template-columns: 1fr 4fr;
            gap: 16px 16px;

            & > aside {
                width: 100%;
                display: flex;
                flex-direction: column;
            }

            & > section {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(180px, 270px));
                grid-gap: 16px;
                height: fit-content;
            }
        }
    }

    [data-not-category] {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 16.6%));
        align-items: stretch;
        justify-content: center;
        height: fit-content;

        & > a {
            position: relative;
            width: 100%;
            height: 100%;
            padding: 6px 12px !important;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 16px;
            text-decoration: none;
            background: transparent;

            transition: var(--transition);
            transition-property: background;

            & > img {
                aspect-ratio: 1/1;
                height: auto;
                width: calc(100% - 12px - 12px);
                object-fit: cover;
                border-radius: 50%;
            }

            & > p {
                color: var(--gray-600);
                text-align: center;
                font-size: 16px;
                font-weight: 400;
            }

            &:hover {
                background: var(--gray-50);
            }
        }
    }
}
