.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    & > [data-header-main] {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 16px;

        & > [data-create] {
            width: 180px;
            height: 45px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 4px;
            border: none !important;
            outline: none !important;
            background: var(--main-black);
            border-radius: 7px;

            &:focus,
            &:hover {
                outline: 1px solid #3b3a3ab9 !important;
            }

            & > span {
                color: #fff;
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            & > img {
                filter: invert(1);
            }
        }
    }

    & > [data-tabs="true"] {
        padding-left: 0;
    }

    & > article {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
