.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 16px 16px;

    & > li {
        padding: 8px 16px;
        border-radius: 7px;
        background: #fff;
        width: min-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        cursor: pointer;

        & > p {
            width: min-content;
            color: var(--main-black);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            white-space: nowrap;
        }
        &[data-active="true"] {
            background: var(--main-black);
            & > p {
                color: #fff;
            }

            & > [data-replace="true"] {
                cursor: pointer;
            }
        }
    }
}
