.container {
    padding: 6px 12px;
    border-radius: 7px;
    border: 2px solid var(--warning-700);
    width: min-content;

    & > p {
        color: var(--warning-700);
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        white-space: nowrap;

        & > span {
            font-size: 18px;
        }
    }
}
