.__user-wrapper__ {
    width: 100%;
    height: 100%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--gray-200);
    min-height: calc(100vh - 78px - 300px);

    & > section {
        width: 100%;
        max-width: 1440px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        & > [data-profile] {
            max-width: 1440px;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 24px 24px;

            & > aside {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 8px;

                & > a {
                    position: relative;
                    width: 100%;
                    background: #fff;
                    padding: 8px !important;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 8px;
                    transition: var(--transition);
                    transition-property: background;
                    overflow: hidden;

                    & > [data-icon] {
                        width: 32px;
                        height: 32px;
                        transition: var(--transition);
                        transition-property: filter;
                    }

                    & > [data-arrow] {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: -16px;
                        opacity: 0;
                        transition: var(--transition);
                        transition-property: right, opacity;
                    }

                    & > span {
                        color: var(--gray-500);
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        letter-spacing: -0.2px;
                        transition: var(--transition);
                        transition-property: color;
                    }

                    &:hover {
                        background: var(--gray-50);

                        & > [data-arrow] {
                            opacity: 1;
                            right: 8px;
                        }
                    }

                    &[data-active="true"] {
                        background: var(--main-black);

                        & > [data-icon] {
                            filter: invert(1);
                        }

                        & > span {
                            color: var(--gray-50);
                        }

                        & > [data-arrow] {
                            opacity: 1;
                            right: 8px;
                        }
                    }
                }

                & > [data-out] {
                    width: 100%;
                    height: calc(32px + 8px + 8px);
                    border: 2px solid var(--main-black);
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    margin-top: 16px;
                    cursor: pointer;

                    & > p {
                        color: var(--main-black);
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        letter-spacing: -0.2px;
                        transition: var(--transition);
                        transition-property: color;
                    }
                }
            }

            & > [data-link-profile] {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 16px;

                & > footer {
                    width: 100%;
                    max-width: 780px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    & > button {
                        width: 180px;
                        height: 48px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        border: 2px solid var(--main-black);
                        outline: none !important;
                        background: #ffff;
                        border-radius: 7px;

                        & > span {
                            color: var(--main-black);
                            text-align: center;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                        }
                    }
                }
            }
        }
    }

    input,
    textarea {
        background: #fff !important;
    }
}
